@using TaskWithYou.Shared.ViewModels.Cards;
@implements IDialogContentComponent<CardCreateViewModel>

@if (Content is not null)
{
    <EditForm Model="@Content">
        <label>
            タイトル
            <FluentTextField @bind-Value="Content.Title" />
        </label>
        <label>
            作成日
            <InputDate @bind-Value="Content.CreateAt" />
        </label>
        <label>
            締め切り
            <InputDate @bind-Value="Content.DeadLine" />
        </label>
        <FluentInputLabel>
            詳細
            <FluentTextArea @bind-Value="Content.Description" />
        </FluentInputLabel>
    </EditForm>
}